<div>
    <table class="table">
        <thead>
            <th>Title</th>
            <th>Length</th>
            <th>Rating</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="movie in model.movies">
                <td>{{movie.title}}</td>
                <td>{{movie.length}}</td>
                <td>
                    <movie-rating value='movie.rating' max='5' set-rating='model.setRating(movie, value)'>
                    </movie-rating>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="model.downRating(movie)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="model.upRating(movie)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button ng-click="model.goTo(movie.id)" class="btn btn-default">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <accordion>
        <accordion-panel heading='Panel 1'>
            <span class="bg-info">this is the panel 1</span>
        </accordion-panel>
        <accordion-panel heading='Panel 2'>
            <span class="bg-info">this is the panel 2</span>
        </accordion-panel>
    </accordion>

</div>